@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled {
    cursor: not-allowed;
}

.label:after {
    content: " *";
    color: red
}

.input-password {
    position: relative;
}

.password-visibility {
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    transform: translate(0, -50%);
    z-index: 99
}